<form class="{{cssClass}}" autocomplete="off">
	<nav class="sheet-tabs tabs" data-group="primary">

		<a class="item active" data-tab="attributes">
			{{localize "CONAN.CharacterUpgrade.Tabs.Attributes.title"}}
		</a>

		<a class="item active" data-tab="skills">
			{{localize "CONAN.CharacterUpgrade.Tabs.Skills.title"}}
		</a>

		<a class="item" data-tab="talents">
			{{localize "CONAN.CharacterUpgrade.Tabs.Talents.title"}}
		</a>

		<a class="item" data-tab="log">
			{{localize "CONAN.CharacterUpgrade.Tabs.Log.title"}}
		</a>

	</nav>

	<section class="sheet-body grid-1-columns">
		<div class="available-xp">
			{{localize 'CONAN.CharacterUpgrade.XpAvailable'}}:
			<span class="available-xp-total">{{availableXp}}</span>
		</div>
		<section class="sheet-content">
			{{> apps/character-upgrade/attributes-tab }}
			{{> apps/character-upgrade/skills-tab }}
			{{> apps/character-upgrade/talents-tab }}
			{{> apps/character-upgrade/log-tab }}
		</section>
	<section>
</form>
