<div class="grid-2-columns">

	<div class="form-group">
		<div class="setting-grid">
			<label>{{localize "CONAN.Item.Action.Type.label"}}</label>
			<select name="system.actionType" data-dtype="String">
				{{#select item.system.actionType}}
					{{#each CONFIG.actionTypes as |name type|}}
						<option value="{{type}}">
							{{name}}
						</option>
					{{/each}}
				{{/select}}
			</select>

		</div>
	</div>

	<div class="form-group">
		<label>
			<input
				type="checkbox"
				name="system.isMovementAction"
				value="1"
				data-dtype="Boolean"
				{{checked item.system.isMovementAction}}
			/>
			{{localize "CONAN.Item.Action.isMovementAction"}}
		</label>
	</div>

</div>
