<div
	class="conan2d20 chat-card action-card"
	data-actor-id="{{actorId}}"
	data-item-id="{{item.d}}"
	draggable="true"
>
	<header class="card-header flexrow">
		<h2>{{item.name}}</h2>
		<img src="{{item.img}}" title="{{item.name}}" />
	</header>

	<div class="card-content">{{{data.description.value}}}</div>

	{{#if data.weapon.value}}
	<header class="card-header flexrow">
		<h4>{{data.weapon.name}}</h4>
	</header>
	{{/if}}

	{{> partials/card-footer-properties }}
</div>
