<div class="npc-type-grid">
	<img
		class="npc-sheet__portrait"
		src="{{actor.img}}"
		data-edit="img"
		titl
		e="{{actor.name}}"
	/>
	{{#unless isTransport}}
		<div class="npc-type">
			<h4 class="npc-sheet-field__label">{{localize 'CONAN.npcTypeLabel'}}</h4>
			<div>
				<select class="npc-type-select" name="system.type" data-dtype="String">
					{{#each CONFIG.NPC_TYPES as |type key|}}
						<option
							value="{{key}}"
							{{#ifCond ../system.type "===" key}}
								selected
							{{/ifCond}}
						>
							{{type}}
						</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="npc-categories">
			{{#if isMount}}
				{{> actors/_shared-partials/inline-tags
					label=(localize "CONAN.mount.capabilities.label")
					options="MOUNT_CAPABILITIES"
					tags=tags
				}}
			{{/if}}

			{{#if isNPC}}
				{{> actors/_shared-partials/inline-tags
					label=(localize "CONAN.npcTraitsLabel")
					options="NPC_CATEGORIES"
					tags=tags
				}}
			{{/if}}
		</div>
	{{/unless}}

	{{#if isPurchasable}}
		<div class="npc-type">
			<h4 class="npc-sheet-field__label">
				{{localize "CONAN.transportation.availability.label"}}
			</h4>
			<div class="npc-sheet-field__value">
				<select name="system.availability" data-dtype="Number" class="npc-type-select">
					{{#select system.availability}}
						{{#each CONFIG.availabilityTypes as |label key|}}
							<option value="{{key}}">
								{{localize label}}
							</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>

		<div class="npc-type">
			<h4 class="npc-sheet-field__label">
				{{localize "CONAN.transportation.cost.label"}}
			</h4>
			<div class="npc-sheet-field__value" style="padding: 4px;">
				<input
					name="system.cost"
					type="Number"
					value="{{system.cost}}"
					placeholder="0"
				/>
			</div>
		</div>
	{{/if}}
</div>
